-
  const catalogItems = [{
    h3: 'Cat Energy PRO 500 г',
    srcset: './img/photos/catalog/catEnergy500.png 68w, ./img/photos/catalog/catEnergy500-tablet.png 161w',
    sizes: '(max-width: 767px) 68px, 161px',
    imgSrc: "./img/photos/catalog/catEnergy500.png",
    imgAlt: "Cat Energy 500",
    dd1: '500 г',
    dd2: 'Курица',
    dd3: '700 Р.',
  }, {
    h3: 'Cat Energy PRO 1000 г',
    srcset: './img/photos/catalog/catEnergy1000.png 84w, ./img/photos/catalog/catEnergy1000-tablet.png 168w',
    sizes: '(max-width: 767px) 68px, 168px',
    imgSrc: "./img/photos/catalog/catEnergy1000.png",
    imgAlt: "Cat Energy 1000",
    dd1: '1000 г',
    dd2: 'Курица',
    dd3: '1000 Р.',
  }, {
    h3: 'Cat Energy PRO 500 г',
    srcset: './img/photos/catalog/catEnergy500fish.png 68w, ./img/photos/catalog/catEnergy500fish-tablet.png 163w',
    sizes: '(max-width: 767px) 68px, 163px',
    imgSrc: "./img/photos/catalog/catEnergy500fish.png",
    imgAlt: "Cat Energy 500 with fish",
    dd1: '500 г',
    dd2: 'Рыба',
    dd3: '700 Р.',
  }, {
    h3: 'Cat Energy PRO 1000 г',
    srcset: './img/photos/catalog/catEnergy1000fish.png 84w, ./img/photos/catalog/catEnergy1000fish-tablet.png 168w',
    sizes: '(max-width: 767px) 84px, 168px',
    imgSrc: "./img/photos/catalog/catEnergy1000fish.png",
    imgAlt: "Cat Energy 1000 with fish",
    dd1: '1000 г',
    dd2: 'Рыба',
    dd3: '1000 Р.',
  }, {
    h3: 'Cat Energy SLIM 500 г',
    srcset: './img/photos/catalog/catEnergy500buckwheat.png 68w, ./img/photos/catalog/catEnergy500buckwheat-tablet.png 161w',
    sizes: '(max-width: 767px) 68px, 161px',
    imgSrc: "./img/photos/catalog/catEnergy500buckwheat.png",
    imgAlt: "Cat Slim buckwheat 500",
    dd1: '500 г',
    dd2: 'Гречка',
    dd3: '400 Р.',
  }, {
    h3: 'Cat Energy SLIM 1000 г',
    srcset: './img/photos/catalog/catSlim1000backwheat.png 84w, ./img/photos/catalog/catEnergy1000buckwheat-tablet.png 168w',
    sizes: '(max-width: 767px) 84px, 168px',
    imgSrc: "./img/photos/catalog/catSlim1000backwheat.png",
    imgAlt: "Cat Slim buckwheat 1000",
    dd1: '1000 г',
    dd2: 'Гречка',
    dd3: '700 Р.',
  }, {
    h3: 'Cat Energy SLIM 500 г',
    srcset: './img/photos/catalog/catSlim500rice.png 72w, ./img/photos/catalog/catEnergy500rice-tablet.png 163w',
    sizes: '(max-width: 767px) 72px, 163px',
    imgSrc: "./img/photos/catalog/catSlim500rice.png",
    imgAlt: "Cat Slim rice 500",
    dd1: '500 г',
    dd2: 'Рис',
    dd3: '500 Р.',
  }];

section.catalog
  h2 Каталог продукции
  ul.catalog-list
    each item in catalogItems
      li.catalog-list__item
        img(srcset=item.srcset, sizes=item.sizes, src=item.imgSrc, alt=item.imgAlt)
        .description__wrapper
          h3=item.h3
          dl
            .dt__wrapper
              dt Масса
              dd=item.dd1
            .dt__wrapper
              dt Вкус
              dd=item.dd2
            .dt__wrapper
              dt Цена
              dd=item.dd3
        button(class="accept-btn" type="button") Заказать
  .catalog__more
    .svg__wrapper
      button(type="button")
        svg(width="30" height="30")
          use(xlink:href="./img/svg/icons.svg#plus-icon")
    h3 Показать еще 100500 товаров
    p На самом деле вкусов гораздо больше!
    button(type="button") Показать все
