section(class="contacts" aria-label="Контакты")
  .contacts__address-wrapper
    h2 приглашаем к сотрудничеству дилеров!
    address ул. Большая Конюшенная, д. 19/8 <br>Санкт-Петербург
  .contacts__map-wrapper
    iframe(
      class="contacts__map"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1998.6037999040354!2d30.322010416394033!3d59.938716271971415!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4696310fca5ba729%3A0xea9c53d4493c879f!2sBolshaya+Konyushennaya+ul.%2C+19%2C+Sankt-Peterburg%2C+Russia%2C+191186!5e0!3m2!1sen!2s!4v1441888483426"
      width="320"
      height="362"
      style="border:0;"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
      title="Офис компании по адресу набережная реки Карповки, 5, литера П, Санкт-Петербург")
    img(
      class="contacts__icon"
      src="./img/photos/superCat.png"
      width="57px"
      height="53px"
      alt="Иконка логотипа, показывающая местонахождение магазина")
