section(class="contacts" aria-label="Контакты")
  .contacts__address-wrapper
    h2 приглашаем к сотрудничеству дилеров!
    address ул. Большая Конюшенная, д. 19/8 <br>Санкт-Петербург
  .contacts__map-wrapper
    iframe(
      class="contacts__map"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2252.6977873540673!2d37.302073415733076!3d55.6246741093344!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b55166cbb3dc17%3A0xc3be2f709df4e51f!2z0YPQuy4g0JvQtdGC0YfQuNC60LAg0KPQu9GM0Y_QvdC40L3QsCwgMiwg0JzQvtGB0LrQstCwLCDQnNC-0YHQutC-0LLRgdC60LDRjyDQvtCx0LsuLCAxMTkwMjc!5e0!3m2!1sru!2sru!4v1660897069052!5m2!1sru!2sru"
      width="320"
      height="362"
      style="border:0;"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
      title="Офис компании по адресу улица Летчика Ульянина, дом 2")
    img(
      class="contacts__icon"
      src="./img/photos/superCat.png"
      width="57px"
      height="53px"
      alt="Иконка логотипа, показывающая местонахождение магазина")
