section(class="contacts" aria-label="Контакты")
    .contacts__address-wrapper
        h2 приглашаем к сотрудничеству дилеров!
        address ул. Большая Конюшенная, д. 19/8 Санкт-Петербург
    .contacts__map-wrapper
        img(
          src="./img/photos/map.png"
          width="320px"
          height="362px"
          alt="Карта")
        img(
          class="contacts__icon"
          src="./img/photos/superCat.png"
          width="57px"
          height="53px"
          alt="Иконка логотипа, показывающая местонахождение магазина")
