section.example
  h2 Живой пример
  p Борис сбросил 5 кг за 2 месяца, просто заменив свой обычный корм на Cat Energy Slim. Отличный результат без изнуряющих тренировок! При этом он не менял своих привычек и по-прежнему спит по 16 часов в день.
  ul(class="example__statistics statistics-list")
    li(class="statistics-list__item weight")
      strong 5 КГ
    li(class="statistics-list__item days")
      strong 60 ДНЕЙ
  h3 Затраты на питание: 15 000 РУБ.
  picture
    source(
      srcset="./img/photos/compare-cat-tablet@2x.png 2x, ./img/photos/compare-cat-tablet.png"
      media="(min-width: 768px)")
    source(srcset="./img/photos/compare-cat.webp")
    img(
      class="example__compare-cat-img"
      src="./img/photos/compare-cat.png"
      alt="Compare a fat cat with a tiny cat"
      loading="lazy")


