-
  const programms = [{
    width: '36',
    height: '50',
    path: './img/svg/icons.svg#cat-silouette-1',
    h2: 'Похудение',
    p: 'Ваш кот весит больше собаки и почти утратил способность лазить по деревьям? Пора на диету! Cat Energy Slim поможет вашему питомцу сбросить лишний вес.',
    a: 'SLIM'
  }, {
    width: '67',
    height: '28',
    path: './img/svg/icons.svg#cat-silouette-2',
    h2: 'Набор массы',
    p: 'Заработать авторитет среди дворовых котов и даже собак? Серия Cat Energy Pro поможет вашему коту нарастить необходимые мышцы!',
    a: 'Pro',
  }];

section(class="programms" aria-label="Список программ")
    ul(class="programms-list")
    each program in programms
        li.programms-list__item
            .heading-wrapper
                svg(width=program.width, height=program.height)
                    use(xlink:href=program.path)
                h2=program.h2
            p=program.p
            a(href="#")=`Каталог ${program.a}`
                svg(width="24" height="12"): use(xlink:href="./img/svg/icons.svg#arrow")

