section(class="promo" aria-label="Промо программа")
  .desktop-bg
  .promo__background-image
    .promo__background-image--color
      h2 Функциональное питание для котов
      p Занялся собой? Займись котом!
  picture
    source(
      type="image/webp"
      srcset="./img/photos/promo-can/promo-can@2x.webp 2x, ./img/photos/promo-can/promo-can.webp 1x")
    source(
      srcset=".img/photos/promo-can/promo-can@2x.png 2x")
    img(
      class="promo__can-img"
      src="./img/photos/promo-can/promo-can.png"
      alt="Банка с едой кота"
      width="280px"
      height="270px")
  a(href="./form.html") Подобрать программу
