section(class="promo" aria-label="Промо программа")
  .desktop-bg
  .promo__background-image
    .promo__background-image--color
      h2 Функциональное питание для котов
      p Занялся собой? Займись котом!
  picture
    source(
      srcset="./img/photos/promo-can/promo-can.webp" type="image/webp")
    img(
      class="promo__can-img"
      src="./img/photos/promo-can/promo-can.png"
      alt="Банка с едой кота"
      width="280px"
      height="270px"
      loading="lazy")
  a(href="./form.html") Подобрать программу
