fieldset(class="form__inputs-1 labels-1")
  legend.visually-hidden Your cat's data
  label(class="labels-1__name") Имя:*
    input#name(
      type="text"
      name="name"
      placeholder="БАРСИК"
      required)
  label(class="labels-1__weight") Вес (кг):*
    input#weight(
      type="number"
      name="weight"
      placeholder="7"
      required)
  label(class="labels-1__age") Возраст (лет)
    input#age(
      type="number"
      name="age"
      placeholder="7")
