-
  const socials = [{
    label: "Иконка ВКонтакте",
    width: '27',
    height: '17',
    path: "./img/svg/icons.svg#icon-vk",
    url: "https://vkontakte.com",
  }, {
    label: "Иконка Youtube",
    width: "24",
    height: "19",
    path: "./img/svg/icons.svg#icon-youtube",
    url: "https://youtube.com",
  }, {
    label: "Иконка Telegram",
    width: "20",
    height: "18",
    path: "./img/svg/icons.svg#icon-telegram",
    url: "https://telegram.com",
  }];
.footer__wrapper
  footer.footer
    a.footer__logo
      svg(width="128", height="24",aria-label="Логотип магазина")
        use(href="./img/svg/icons.svg#logo-words")
    ul(class="footer__social-list social-list")
      each social in socials
        li.social-list__item
          a(href=social.url, aria-label=social.label)
            svg(width=social.width, height=social.height)
              use(href=social.path)
    ul(class="footer__academy-links academy-links")
      li.academy-links__item
        a(href="https://htmlacademy.ru") HTML Academy
      li.academy-links__item
        a(href="https://htmlacademy.ru")
          svg(width="27", height="34")
            use(href="./img/svg/icons.svg#html-academy")
