-
  const paths = [{
    url: './index.html',
    heading: 'Главная',
    isActive: true,
  }, {
    url: './catalog.html',
    heading: 'Каталог продукции',
    isActive: false,
  }, {
    url: './form.html',
    heading: 'Подбор программы',
    isActive: false,
  }];

header.header
  .header__wrapper
    a(
      class="header__logo"
      href='./index.html'
      aria-label="Логотип магазина")
    button(
      class="header__toggler header__toggler--close"
      type="button"
      aria-label="Кнопка открытия меню")
  nav(class="header__nav nav")
    ul(class="nav__list nav-list")
      each link in paths
        li(class=`nav-list__item ${link.isActive ? 'nav-list__item--active' : ''}`)
          a(href=link.url)=link.heading
