header.header
  .header__wrapper
    a(
      class="header__logo"
      href='./index.html'
      aria-label="Логотип магазина")
    button(
      class="header__toggler active"
      type="button"
      aria-label="Кнопка открытия меню")
  nav(class="nav")
    ul(class="nav__list nav-list")
      li(class="nav-list__item nav-list__item--active")
        a(href="./index.html") Главная
      li(class="nav-list__item")
        a(href="./catalog.html") Каталог продукции
      li(class="nav-list__item")
        a(href="./form.html") Подбор программы
